#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050508;
  color: #e0e0e0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050508;
}

/* Scrollbar hidden but functional if strictly needed */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
